!.gitignore
*~
*.py[co]
.*.sw[po]
.cache/
.coverage
.coveragerc
.env
.idea/
.pytest_cache/
.tox/
.eggs/
*.egg
docs/.build
docs/_build
build/
dist/
mongoengine.egg-info/
env/
.settings
.project
.pydevproject
htmlcov/
venv
venv3
