fail_fast: false
repos:
    - repo: https://github.com/ambv/black
      rev: 20.8b1
      hooks:
        - id: black
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.0a2
      hooks:
        - id: flake8
          additional_dependencies:
            - flake8-import-order
