fail_fast: false
repos:
    - repo: https://github.com/ambv/black
      rev: 19.10b0
      hooks:
        - id: black
#          language_version: python3
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.0a2
      hooks:
        - id: flake8
          additional_dependencies:
            - flake8-import-order
