language: python
python:
- '2.6'
- '2.7'
- '3.2'
- '3.3'
- '3.4'
- pypy
- pypy3
env:
- PYMONGO=2.7 MONGODB=2.6.6
- PYMONGO=2.8 MONGODB=2.6.6
- PYMONGO=3.0 MONGODB=2.6.6
- PYMONGO=dev MONGODB=2.6.6
- PYMONGO=2.7 MONGODB=3.0.4
- PYMONGO=2.8 MONGODB=3.0.4
- PYMONGO=3.0 MONGODB=3.0.4
- PYMONGO=dev MONGODB=3.0.4
matrix:
  fast_finish: true
  include:
  - python: "2.7"
    env: PYMONGO=3.0 MONGODB=2.4.14
  - python: "3.4"
    env: PYMONGO=3.0 MONGODB=2.4.14
before_install:
- if [ `echo $MONGODB | sed -e 's/\(.\).*/\1/'` = '2' ]; then
    travis_retry sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10 &&
    echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' |
      sudo tee /etc/apt/sources.list.d/mongodb.list &&
    travis_retry sudo apt-get update &&
    if [ `echo $MONGODB | sed -e 's/.\.\(.\).*/\1/'` = '4' ]; then
      travis_retry sudo apt-get install -y mongodb-10gen=$MONGODB;
      sudo service mongodb start
    else
      travis_retry sudo apt-get install -y mongodb-org=$MONGODB;
    fi
  else
    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10 &&
    echo "deb http://repo.mongodb.org/apt/ubuntu "$(lsb_release -sc)"/mongodb-org/3.0 multiverse" |
      sudo tee /etc/apt/sources.list.d/mongodb-org-3.0.list &&
    travis_retry sudo apt-get update &&
    travis_retry sudo apt-get install -y mongodb-org=$MONGODB;
  fi
- sleep 15 # mongo may not be responded directly. See http://docs.travis-ci.com/user/database-setup/#MongoDB
- mongo --version
install:
- sudo apt-get install python-dev python3-dev libopenjpeg-dev zlib1g-dev libjpeg-turbo8-dev
  libtiff4-dev libjpeg8-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.5-dev tk8.5-dev
  python-tk
- travis_retry pip install tox>=1.9 coveralls
- travis_retry tox -e $(echo py$TRAVIS_PYTHON_VERSION-mg$PYMONGO | tr -d . | sed -e 's/pypypy/pypy/') -- -e test
script:
- tox -e $(echo py$TRAVIS_PYTHON_VERSION-mg$PYMONGO | tr -d . | sed -e 's/pypypy/pypy/') -- --with-coverage
after_script: coveralls --verbose
notifications:
  irc: irc.freenode.org#mongoengine
branches:
  only:
  - master
  - /^v.*$/
deploy:
  provider: pypi
  user: the_drow
  password:
    secure: QMyatmWBnC6ZN3XLW2+fTBDU4LQcp1m/LjR2/0uamyeUzWKdlOoh/Wx5elOgLwt/8N9ppdPeG83ose1jOz69l5G0MUMjv8n/RIcMFSpCT59tGYqn3kh55b0cIZXFT9ar+5cxlif6a5rS72IHm5li7QQyxexJIII6Uxp0kpvUmek=
  on:
    tags: true
    repo: MongoEngine/mongoengine
