# http://travis-ci.org/#!/MongoEngine/mongoengine
language: python
services: mongodb
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
env:
  - PYMONGO=dev DJANGO=1.5.1
  - PYMONGO=dev DJANGO=1.4.2
  - PYMONGO=2.5 DJANGO=1.5.1
  - PYMONGO=2.5 DJANGO=1.4.2
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.'* ]]; then cp /usr/lib/*/libz.so $VIRTUAL_ENV/lib/; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '2.'* ]]; then pip install pil --use-mirrors ; true; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '2.'* ]]; then pip install django==$DJANGO --use-mirrors ; true; fi
    - if [[ $PYMONGO == 'dev' ]]; then pip install https://github.com/mongodb/mongo-python-driver/tarball/master; true; fi
    - if [[ $PYMONGO != 'dev' ]]; then pip install pymongo==$PYMONGO --use-mirrors; true; fi
    - python setup.py install
script:
    - python setup.py test
notifications:
  irc: "irc.freenode.org#mongoengine"
branches:
  only:
    - master
