# http://travis-ci.org/#!/MongoEngine/mongoengine
language: python
services: mongodb
before_install:
    - "mongo --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true})' admin"
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
    - "3.4"
    - "pypy"
env:
  - PYMONGO=dev DJANGO=dev
  - PYMONGO=dev DJANGO=1.6.5
  - PYMONGO=dev DJANGO=1.5.8
  - PYMONGO=2.7.1 DJANGO=dev
  - PYMONGO=2.7.1 DJANGO=1.6.5
  - PYMONGO=2.7.1 DJANGO=1.5.8

matrix:
    exclude:
        - python: "2.6"
          env: PYMONGO=dev DJANGO=dev
        - python: "2.6"
          env: PYMONGO=2.7.1 DJANGO=dev
    fast_finish: true

install:
    - sudo apt-get install python-dev python3-dev libopenjpeg-dev zlib1g-dev libjpeg-turbo8-dev libtiff4-dev libjpeg8-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.5-dev tk8.5-dev python-tk
    - if [[ $PYMONGO == 'dev' ]]; then pip install https://github.com/mongodb/mongo-python-driver/tarball/master; true; fi
    - if [[ $PYMONGO != 'dev' ]]; then pip install pymongo==$PYMONGO; true; fi
    - if [[ $DJANGO == 'dev' ]]; then pip install https://www.djangoproject.com/download/1.7c1/tarball/; fi
    - if [[ $DJANGO != 'dev' ]]; then pip install Django==$DJANGO; fi
    - pip install https://pypi.python.org/packages/source/p/python-dateutil/python-dateutil-2.1.tar.gz#md5=1534bb15cf311f07afaa3aacba1c028b
    - python setup.py install

script:
    - python setup.py test
    - if [[ $TRAVIS_PYTHON_VERSION == '3.'* ]]; then 2to3 . -w; fi;
    - python benchmark.py
notifications:
  irc: "irc.freenode.org#mongoengine"
branches:
  only:
    - master
