# http://travis-ci.org/#!/MongoEngine/mongoengine
language: python
services: mongodb
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
env:
  - PYMONGO=dev DJANGO=1.6
  - PYMONGO=dev DJANGO=1.5.5
  - PYMONGO=dev DJANGO=1.4.10
  - PYMONGO=2.5 DJANGO=1.6
  - PYMONGO=2.5 DJANGO=1.5.5
  - PYMONGO=2.5 DJANGO=1.4.10
  - PYMONGO=3.2 DJANGO=1.6
  - PYMONGO=3.2 DJANGO=1.5.5
  - PYMONGO=3.3 DJANGO=1.6
  - PYMONGO=3.3 DJANGO=1.5.5
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.'* ]]; then cp /usr/lib/*/libz.so $VIRTUAL_ENV/lib/; fi
    - if [[ $TRAVIS_PYTHON_VERSION == '2.'* ]]; then pip install pil --use-mirrors ; true; fi
    - if [[ $PYMONGO == 'dev' ]]; then pip install https://github.com/mongodb/mongo-python-driver/tarball/master; true; fi
    - if [[ $PYMONGO != 'dev' ]]; then pip install pymongo==$PYMONGO --use-mirrors; true; fi
    - pip install https://pypi.python.org/packages/source/p/python-dateutil/python-dateutil-2.1.tar.gz#md5=1534bb15cf311f07afaa3aacba1c028b
    - python setup.py install
script:
    - python setup.py test
notifications:
  irc: "irc.freenode.org#mongoengine"
branches:
  only:
    - master
